Options +FollowSymLinks
RewriteEngine On
RewriteBase /
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^admin/news news.php [NC,L]
RewriteRule ^auth/register$ register.php [NC,L]
RewriteRule ^auth/login$ login.php [NC,L]